@font-face{
  font-family: 'iconfont';  /* project id 776833 */
  src: url('http://at.alicdn.com/t/font_776833_ez3vkphgiuw.eot');
  src: url('http://at.alicdn.com/t/font_776833_ez3vkphgiuw.eot?#iefix') format('embedded-opentype'),
       url('http://at.alicdn.com/t/font_776833_ez3vkphgiuw.woff') format('woff'),
       url('http://at.alicdn.com/t/font_776833_ez3vkphgiuw.ttf') format('truetype'),
       url('http://at.alicdn.com/t/font_776833_ez3vkphgiuw.svg#iconfont') format('svg');
}
  .icon-font
    font-family:'iconfont';
  .icon-user
    font-size: 20px
    color: $color-theme
